@{
    ViewBag.Title = "Información de persona";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <ul class="list-group">
        <li class="list-group-item">Nombre: @ViewBag.Persona.Nombre</li>
        <li class="list-group-item">Primer Apellido: @ViewBag.Persona.Apellido1</li>
        <li class="list-group-item">Segundo Apellido: @ViewBag.Persona.Apellido2</li>
        <li class="list-group-item">Cédula: @ViewBag.Persona.Cedula</li>
        <li class="list-group-item">CODELEC: @ViewBag.Persona.Codelec</li>
    </ul>
    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Editar", "Edit", "Home")
    </button>
    
</div>
